body {
	background-color: black;
	color: red;
	font-family: "Gotham Book";
	font-size: 10px;
}

.wrapper {
	background-color: white;
	width: 400px;
	margin: 20px auto;
	padding: 30px;
	line-height: 15px;
}


nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}


nav a {
	display: block;
}

a {
	color: purple;
	transition: all 1s;
}

a:hover {
	color: #cccccc;
	background-color: blue;
	text-decoration: none;
	transition: all 1s;
}


#content {
	margin: 20px;
}

code {
	background-color: yellow;
}
